@use '../../styles/mixins';
@import '../../styles/variables';

.nav {
  @include mixins.DisplayFlex(space-between, center, row, wrap);
  position: fixed;
  top: 0;
  height: 9.6rem;
  width: 100%;
  z-index: 20;
  transform: translateY(4rem);

  @media screen and (min-width: #{map-get($breakpoints, 'mobile')}) and (max-width: #{map-get($breakpoints, 'desktop')}) {
    transform: translateY(0);

    .line {
      display: none;
    }
  }

  @media screen and (max-width: calc(400px + #{map-get($breakpoints, 'mobile')})) {
    .links {
      display: none;
    }
  }

  @media screen and (min-width: calc(400px + #{map-get($breakpoints, 'mobile')})) {
    .button--mobile-nav {
      display: none;
    }
  }
}

.links {
  position: relative;
  @include mixins.DisplayFlex(flex-start, center, row, nowrap);
  gap: 3.2rem;
  height: 100%;
  background-color: rgba($white, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  padding: 0 16.5rem 0 12.3rem;

  li {
    height: 100%;
    list-style: none;
  }

  @media screen and (max-width: calc(400px + #{map-get($breakpoints, 'mobile')})) {
    @include mixins.DisplayFlex(flex-start, flex-start, column, nowrap);
    margin: 11.8rem 0 0 3.2rem;
    padding: 0;
    height: auto;
    background-color: rgba($white, 0);
    backdrop-filter: blur(0);
  }
}

.link {
  @include mixins.DisplayFlex(flex-start, center, row, nowrap);
  gap: 1.2rem;
  position: relative;
  height: 100%;

  &:visited,
  &:link {
    color: $white;
    text-decoration: none;
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 3px;
    transition: all 0.5s;
    background-color: rgba($white, 0);
  }

  &:hover {
    &::after {
      position: absolute;
      bottom: 0;
      content: '';
      width: 100%;
      height: 3px;
      background-color: rgba($white, 0.5021);
    }
  }
}

.logo {
  height: 4.8rem;
  width: 4.8rem;
  margin-left: 5.5rem;
}

.line {
  position: absolute;
  transform: translateX(calc(-100% - 93px));
  width: 47.3rem;
  height: 1px;
  background-color: $white;
}

.bold {
  font-weight: 700;
}

.active {
  &::after {
    background-color: $white;
  }

  &:hover {
    &::after {
      background-color: $white;
    }
  }
}

// MOBILE NAV
.button--mobile-nav {
  margin-right: 2.4rem;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 20;
}

.mobile-nav-menu {
  position: fixed;
  @include mixins.DisplayFlex(flex-start, flex-start, column, nowrap);
  top: 0;
  right: 0;
  width: 25.4rem;
  height: 100vh;
  background-color: rgba($white, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  z-index: 5;
  transition: all 1s;

  @media screen and (min-width: calc(400px + #{map-get($breakpoints, 'mobile')})) {
    display: none;

    .links {
      display: flex;
    }
  }

  @media screen and (max-width: calc(400px + #{map-get($breakpoints, 'mobile')})) {
    .line {
      display: none;
    }
  }
}

.nav-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  @media screen and (min-width: calc(400px + #{map-get($breakpoints, 'mobile')})) {
    display: none;
  }
}

.anim--slide-left {
  transform: translateX(0);
  animation: nav--slide-left 0.2s ease;
}

@keyframes nav--slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
