@use '../../styles/mixins';
@import '../../styles/variables';

.sub-nav {
  // background-color: rgba(255, 0, 0, 0.034);
}

.sub-nav--links {
  @include mixins.DisplayFlex(flex-start, flex-start, row, nowrap);
}

.nav--string {
}

.nav--dots {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.174363;

  &:hover {
    opacity: 0.500094;
  }
}

.nav--buttons {
}

.sub-nav--active {
  opacity: 1 !important;
}
